@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body {
    background-color: lime;
}

p {
    color: yellow;
}
#font_test {
    font-size: 50pt;
    font-family: 'Dancing Script', cursive;
}